/* Resource file for the MELT screen saver extension */

#include <os2.h>

DLGTEMPLATE 42 LOADONCALL
BEGIN
  DIALOG "", 256, 0, 0, 100, 58, FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS
  BEGIN
    LTEXT "Melting Screen Saver", 257, 0, 49, 100, 8, DT_CENTER |
          DT_VCENTER | WS_VISIBLE
    LTEXT "by John Ridges", 258, 0, 39, 100, 8, DT_CENTER |
          DT_VCENTER | WS_VISIBLE
    DEFPUSHBUTTON "OK", 1, 8, 2, 38, 12, WS_GROUP | WS_VISIBLE
    CONTROL "Cancel", 2, 54, 2, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
            WS_VISIBLE
    AUTOCHECKBOX "Enabled", 3, 7, 21, 54, 10, WS_GROUP | WS_VISIBLE
  END
END
