#include <os2.h>
#include "DESKPIC.H"

ICON 1 deskpic.ico

DLGTEMPLATE 42 LOADONCALL
BEGIN
  DIALOG "", 42, 74, 65, 94, 59, FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS
  BEGIN
    LTEXT "", IDS_TITLE, 2, 50, 90, 8, DT_CENTER | DT_VCENTER | WS_VISIBLE
    DEFPUSHBUTTON "OK", IDS_OK, 6, 2, 38, 12, WS_GROUP | WS_VISIBLE
    CONTROL "Cancel", IDS_CANCEL, 50, 2, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
            WS_VISIBLE
    AUTOCHECKBOX "Enabled", IDS_ENABLED, 7, 34, 54, 10, WS_GROUP | WS_VISIBLE
    LTEXT "", IDS_VALTEXT, 7, 22, 35, 8, DT_LEFT | DT_VCENTER | WS_VISIBLE
    CONTROL "", IDS_VALUE, 46, 22, 36, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
            WS_GROUP | WS_TABSTOP | WS_VISIBLE
  END
END

DLGTEMPLATE 666 LOADONCALL
BEGIN
  DIALOG "Desktop picture / Screen saver", 666, 0, 0, 233, 190, 
         FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS, FCF_TITLEBAR
  BEGIN
    DEFPUSHBUTTON "OK", ID_OK, 30, 3, 38, 12, WS_GROUP | WS_VISIBLE
    CONTROL "Cancel", ID_CANCEL, 99, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
            WS_VISIBLE
    CONTROL "Help...", ID_ABOUT, 167, 3, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
            WS_VISIBLE
    GROUPBOX "Desktop Picture", 256, 1, 129, 230, 59, WS_VISIBLE
    AUTORADIOBUTTON "Center picture", ID_CENTER, 6, 168, 75, 9, WS_GROUP |
                    WS_VISIBLE
    AUTORADIOBUTTON "Fit picture to screen", ID_FIT, 6, 158, 101, 9,
                    WS_VISIBLE
    AUTORADIOBUTTON "Tile picture", ID_TILE, 6, 148, 64, 9, WS_VISIBLE
    AUTOCHECKBOX "Picture enabled", ID_PICT, 146, 166, 83, 10, WS_GROUP |
                 WS_VISIBLE
    PUSHBUTTON "Info...", ID_INFO, 135, 147, 32, 12, WS_GROUP | WS_VISIBLE
    PUSHBUTTON "Browse...", ID_BROWSE, 177, 147, 49, 12, WS_GROUP |
               WS_VISIBLE
    LTEXT "Picture path:", 257, 6, 134, 55, 8, DT_VCENTER | WS_VISIBLE
    ENTRYFIELD "", ID_PATH, 65, 134, 158, 8, ES_LEFT | ES_MARGIN |
               WS_GROUP | WS_VISIBLE
    GROUPBOX "Screen Saver", 258, 1, 19, 230, 108, WS_VISIBLE
    LTEXT "Timeout", 259, 6, 106, 36, 8, DT_VCENTER | WS_VISIBLE
    LTEXT "seconds.", 260, 81, 106, 44, 8, DT_VCENTER | WS_VISIBLE
    CONTROL "", ID_TIMEOUT, 47, 106, 28, 8, WC_ENTRYFIELD, ES_LEFT |
               ES_MARGIN | WS_GROUP | WS_TABSTOP | WS_VISIBLE
    AUTOCHECKBOX "Saver enabled", ID_SAVER, 146, 105, 75, 10, WS_GROUP |
                 WS_VISIBLE
    LTEXT "Savers:", 261, 6, 91, 37, 8, DT_VCENTER | WS_VISIBLE
    LISTBOX ID_LIST, 7, 41, 112, 50, LS_OWNERDRAW | WS_GROUP | WS_VISIBLE
    PUSHBUTTON "Configure", ID_CONFIGURE, 6, 24, 58, 13, WS_GROUP | WS_VISIBLE
    PUSHBUTTON "Test", ID_TEST, 82, 24, 38, 13, WS_GROUP | WS_VISIBLE
    LTEXT "Saver now corner", ID_NOW, 145, 74, 29, 24, DT_TOP |
          DT_WORDBREAK | WS_VISIBLE
    CONTROL "", 262, 182, 73, 44, 25, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    AUTORADIOBUTTON "", ID_NOW0, 181, 92, 10, 8, WS_GROUP | WS_VISIBLE
    AUTORADIOBUTTON "", ID_NOW1, 217, 92, 10, 8, WS_VISIBLE
    AUTORADIOBUTTON "", ID_NOW2, 181, 72, 10, 8, WS_VISIBLE
    AUTORADIOBUTTON "", ID_NOW3, 217, 72, 10, 8, WS_VISIBLE
    LTEXT "Saver never corner", ID_NEVER, 145, 41, 29, 24, DT_TOP |
          DT_WORDBREAK | WS_VISIBLE
    CONTROL "", 263, 182, 40, 44, 25, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE
    AUTORADIOBUTTON "", ID_NEVER0, 181, 59, 10, 8, WS_GROUP | WS_VISIBLE
    AUTORADIOBUTTON "", ID_NEVER1, 217, 59, 10, 8, WS_VISIBLE
    AUTORADIOBUTTON "", ID_NEVER2, 181, 39, 10, 8, WS_VISIBLE
    AUTORADIOBUTTON "", ID_NEVER3, 217, 39, 10, 8, WS_VISIBLE
    AUTOCHECKBOX "Single saver", ID_SINGLE, 146, 25, 69, 10, WS_GROUP |
                 WS_VISIBLE
  END
END

DLGTEMPLATE 667 LOADONCALL
BEGIN
  DIALOG "", 667, 0, 0, 227, 132, FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS
  BEGIN
    LTEXT "Deskpic Help", 256, 2, 120, 223, 8, DT_CENTER | DT_VCENTER |
          WS_VISIBLE
    CONTROL "", IDA_LIST, 3, 19, 221, 99, WC_LISTBOX, LS_OWNERDRAW | WS_VISIBLE
    DEFPUSHBUTTON "OK", IDA_OK, 13, 3, 38, 12, WS_GROUP | WS_VISIBLE
  END
END

DLGTEMPLATE 668 LOADONCALL
BEGIN
  DIALOG "", 668, 5, 5, 229, 123, FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS
  BEGIN
    LTEXT "Picture file browser", 256, 2, 113, 225, 8, DT_CENTER |
          DT_VCENTER | WS_VISIBLE
    DEFPUSHBUTTON "OK", IDB_OK, 186, 76, 38, 12, WS_GROUP | WS_VISIBLE
    CONTROL "Cancel", IDB_CANCEL, 186, 58, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
            WS_VISIBLE
    LTEXT "Files in", 257, 3, 99, 33, 8, DT_LEFT | DT_VCENTER | WS_VISIBLE
    LTEXT "", IDB_PATH, 39, 99, 188, 8, DT_LEFT | DT_VCENTER | WS_VISIBLE
    LISTBOX IDB_LIST, 3, 2, 176, 97, WS_GROUP | WS_VISIBLE
  END
END
